.car-listing {
    padding-block: 1rem;
    padding-inline: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.car-item {
    padding: clamp(11px, 0.833vw, 29px);
    width: 100%;
    border-radius: 1rem;
    background: #ecf3f9;
    transition: all 0.5s ease-in-out;

    &__title {
        font-size: 1.75rem;
        color: #040408;
        margin-bottom: 4px;
    }

    &__is-available {
        color: #040408;
    }

    &__features {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.7rem;
    }

    &__priceAndBooking {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__booking-btn {
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        border: 1px solid #2d74ba;
        display: inline-flex;
        justify-content: center;
        font-size: clamp(14px, 0.938vw, 22px);
        font-family: "metropolis";
        font-weight: 500;
        color: white;
        line-height: 120%;
        align-items: center;
        height: 48px;
        padding: 0 2rem;
        text-decoration: none;
        border-radius: clamp(5px, 0.521vw, 20px);
        cursor: pointer;
        text-transform: capitalize;
        background: #2d74ba;
        user-select: none;
        text-align: center;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
}
